<template> 
  <div class="container">
    <input placeholder="Enter name to add" type="text" v-model="newName" v-on:keyup.enter="addName" /> 
  </div>  
</template>

<script>
export default {
  name: "NameInput",
  data() {
    return {
      newName: ''
    };
  },
  methods: {
    addName: function() {
      // --- added code ---
      // const item = {name: this.newName}
      // --- added code ---
      this.$parent.members.push({name: this.newName});
      this.newName = '';
      // --- added code ---
      // this.$emit('update-members', item)
      // --- added code ---
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
  color: white;
}
</style>