<template>
  <div id="app" class="container">
    <Header title="More VueJS: Using vue-cli"/>

    <!-- code added -->    
    <List :members="members" v-on:delete-members="deleteMembers" />  
    <NameInput v-on:update-members="updateMembers" />
    <!-- code added -->

    <Footer :number="members.length"/>
  </div>
</template>

<script>

import Header from './components/Header.vue';
import List from './components/List.vue';
import NameInput from './components/NameInput.vue';
import Footer from './components/Footer.vue';

// --- code added ---
// import * as firebase from 'firebase/app';
// import 'firebase/database';
// 
// const dbPath = '/users/uid0'
// --- code added ---

export default {
  name: 'app',
  components: {
    Header,
    List,
    NameInput,
    Footer
  },
  data() {
    return {
      members: [
        {name:"Jack"},
        {name:"Jill"}
      ]
    };
  },
  // --- code added ---
  /*
  mounted () {
    const dbRef = firebase.database().ref(dbPath)
    dbRef.on('value', snapshot => {
      const data = snapshot.val()
      if (data !== null && data !== undefined) {
        this.members = data
      } else {
        // set up the database
        firebase.database().ref(dbPath).set(this.members)
      }
    })
  },
  methods: {
    updateMembers (item) {
      const idx = this.members.length - 1
      const dbRef = firebase.database().ref(dbPath + '/' + idx)
      dbRef.set(item)
    },
    deleteMembers (idx) {
      const dbRef = firebase.database().ref(dbPath + '/' + idx)
      dbRef.remove()
    }
  }
  */
  // --- code added ---
}
</script>

<style>

  body {
    background-color: #333;
    color: white;
  }

</style>
